<div>
  <h4 class="text-center"><strong>My Booking</strong></h4>
  <hr>
  <div class="profile-card-6"><img src="" class="img img-responsive">
    <div class="profile-name">
      <p><%=@booking%></p>
    </div>
    <div class="profile-overview">
      <div class="col-xs-4">
        <h3><%for booking in @booking.offers%></h3>
          <p><%=@booking.inspect%></p>
        </div>
        <div class="col-xs-4">
          <h3><%@booking.inspect%></h3>
          <p>End date</p>
        </div>
        <div class="col-xs-4">
          <h3><%=@booking%></h3>
          <p>Status</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
