<header>
    <div class="container text-center">

        <!-- Logo -->
        <div class="logo">
			  <h1><b>Bootstrap Profile Cards 2019</b></h1>
        </div>

        <h1>Pure CSS Profile Cards with Bootstrap</h1>

    </div>
</header>

<div class="col-md-4">
    <h4 class="text-center"><strong>My Booking</strong></h4>
    <hr>
    <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
        <div class="profile-name"> <%=%>
            <br>DOE</div>
        <div class="profile-position">Lorem Ipsum Donor</div>
        <div class="profile-overview">
            <div class="profile-overview">
                <div class="row text-center">
                    <div class="col-xs-4">
                        <h3>1</h3>
                        <p>Rank</p>
                    </div>
                    <div class="col-xs-4">
                        <h3>50</h3>
                        <p>Matches</p>
                    </div>
                    <div class="col-xs-4">
                        <h3>35</h3>
                        <p>Goals</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</div>
</div>
