<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1612392987205-c53f0200a175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>Rent your buddy, <strong>and have some good time</strong>!</h1>
    <h2 id="headerslogan">Choose a buddy that match your style.</h2>
  </div>
</div>

  <div class="container">
    <h3> Check from our massive data base, who is available to spend time with you !<br>
    Many people, many styles, many activities...</h3>

    Scrabble, tenis, readings, massage, or whatever is is on offer, you can book it. Any available free date in the calendar will do.
    You will be able to serach based on category and location and once you find your gem, book it for a few ours.

    Prepay the prestatation to finalize the booking and get ready for the fun part.

    <div style="padding: 50px;">
      <h2 align = center>
      <%= link_to "Discover the offers", offers_path, class: "btn btn-primary px-4" %>

      <%= user_signed_in? ? (link_to "Create a new offer", new_offer_path, class: "btn btn-outline-primary px-4") : "" %>

      </h2>
  </div>
</div>
